@import "tailwindcss";

.react-flow__bg {
  background-color: transparent !important;
}

.react-flow__node {
  background-color: #0f172a;
  color: #f1f5f9;
  border-color: #1e293b;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  border-radius: 0.5rem;
}
